@using loowootech.SCM.Model
@using loowootech.SCM.Common
@model int
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#@(Model)-AddContact">添加联系人</button>
<div class="modal fade" id="@(Model)-AddContact" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加联系人</h4>
            </div>
            <form action="/Contact/Add" method="post" class="form-horizontal" >
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Name" class="control-label col-lg-3">姓名</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="Name" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Sex" class="control-label col-lg-3">性别</label>
                        <div class="col-lg-6">
                           @foreach (Sex sex in Enum.GetValues(typeof(Sex)))
                           {
                               <label class="radio-inline">
                                   <input type="radio" name="sex" value="@sex" />@(sex.GetDescription())
                               </label>
                           } 
                        </div>
                    </div>
                    @foreach (ContactWay way in Enum.GetValues(typeof(ContactWay)))
                    {
                        <div class="form-group">
                            <label for="" class="control-label col-lg-3">@(way.GetDescription())</label>
                            <div class="col-lg-6">
                                <input type="text" name="@(way.GetDescription())" class="form-control" />
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <input type="text" name="EID" style="display:none" value="@(Model)" />
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-lg-6 col-lg-offset-3">
                            <button type="button" class="btn btn-default"data-dismiss="modal">关闭</button>
                            <button type="submit" class="btn btn-primary">确定</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>