@using loowootech.SCM.Common
@{
    ViewBag.Title = "部件型号";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<loowootech.SCM.Model.Components> list = ViewBag.List;
    int serialNumber = 1;
}

@{
    Html.RenderPartial("AddComponent");
}

<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>部件类型</th>
        <th>品牌</th>
        <th>规格</th>
        <th>型号</th>
        <th>备注</th>
        <th>操作</th>
    </tr>

    @foreach (var item in list)
    {
        <tr>
            <td>@(serialNumber++)</td>
            <td>@(item.Type.GetDescription())</td>
            <td>@(item.Brand)</td>
            <td>@(item.Specification)</td>
            <td>@(item.Number)</td>
            <td>@(item.Memo)</td>
            <td>
                <a href="" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>删除</a>
                <a href="" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>编辑</a>
            </td>
        </tr>
    }
</table>

