@using loowootech.SCM.Common
@model loowootech.SCM.Model.Order

@{
    ViewBag.Title = "提交进货单成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int serialNumber = 1;
    List<loowootech.SCM.Model.Quotation> list = ViewBag.List;
}


<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h3 class="panel-title">完善订单信息</h3>
    </div>
    <div class="panel panel-body">
        <form action="/Stock/Edit" class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file" class="control-label col-lg-3">合同文件</label>
                <div class="col-lg-6">
                    <input type="file" class="form-control" name="file" />
                </div>
            </div>
            <div class="form-group">
                <label for="Express" class="control-label col-lg-3">快递单号</label>
                <div class="col-lg-6">
                    <input type="text" name="Express" class="form-control" />
                </div>
            </div>
            <input type="text" name="ID" value="@(Model.ID)" style="display:none" />
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-log-out"></i> 跳过</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> 确定</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-info">

</div>

<div class="alert alert-success alert-dismissable" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">部件进货清单</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>序号</th>
                    <th>部件名称</th>
                    <th>单价</th>
                    <th>数量</th>
                </tr>
                @foreach (var item in list)
                {
                    <tr>
                        <td>@(serialNumber++)</td>
                        <td>@(item.Components.Brand)@(item.Components.Type.GetDescription()),@(item.Components.Specification),@(item.Components.Number)</td>
                        <td>@(item.Price)</td>
                        <td>@(item.Number)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    
</div>
