@using loowootech.SCM.Model
@using loowootech.SCM.Common
@{
    Dictionary<loowootech.SCM.Model.Contact,List<loowootech.SCM.Model.AddressList>> DICT = ViewBag.DICT;
    int ID = ViewBag.ID;
    int serialNumber = 1;
}
<a  class="btn btn-xs btn-default" data-toggle="modal" data-target="#@(ID)-Contacts"><i class="glyphicon glyphicon-tags"></i> 查看联系人</a>
<div class="modal fade"id="@(ID)-Contacts" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">联系人列表</h4>
            </div>
            <div class="modal-body">
                @{
                    Html.RenderPartial("AddContact", ID);
                }
                
                <table class="table table-bordered">
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>联系方式</th>
                        <th>备注</th>
                    </tr>
                    @foreach (var item in DICT.Keys)
                    {
                        var dict = DICT[item];
                        <tr>
                            <td>@(serialNumber++)</td>
                            <td>@(item.Name)</td>
                            <td>@(item.sex.GetDescription())</td>
                            <td>
                                @foreach (var way in dict)
                                {
                                    <strong>@way.way.GetDescription(): </strong>@way.Value<br />
                                }
                            </td>
                            <td>
                                <a href="/Contact/Delete?ID=@(item.ID)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove"></i>删除</a>
                                <a href="/Contact/Edit" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>编辑</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> 关闭</button>
                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> 确定</button>
            </div>
        </div>
    </div>
</div> 