@using loowootech.SCM.Common
@using loowootech.SCM.Model
@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@model IEnumerable<Enterprise>
@{
    Business business=ViewBag.Business;
    ViewBag.Title = business.GetDescription();
    int serialNumber = 1;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    Html.RenderPartial("AddEnterprise", business);
}
<table class="table table-bordered">
    <tr>
        <th>序号</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>联系人</th>
        <th>汇款信息</th>
        <th>主要供应设备型号</th>
        <th>备注</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@(serialNumber++)</td>
            <td>@(item.Name)</td>
            <td>@(item.Address)</td>
            <td>
                @Html.Action("Contacts", new  { ID=item.ID})
            </td>
            <td></td>
            <td></td>
            <td>
                @if (item.Business == Business.Supplier)
                {
                    <a href="/Stock/Place?ID=@(item.ID)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-log-in"></i>进货</a>
                }
            </td>
        </tr>
    }
</table>