@{
    Business business = ViewBag.Business;
    ViewBag.Title = business.GetDescription();
    List<Enterprise> list = ViewBag.List;
}

<form class="form-inline">
    <div class="input-group">
        <span class="input-group-addon">查询企业</span>
        <input type="text" class="form-control" name="name" placeholder="企业名称" value="@(Request.QueryString["name"])">
        <input type="hidden" name="business" value="@(business)" />
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</button>
            <a class="btn btn-success" href="/enterprise/edit?business=@(business)">
                <i class="glyphicon glyphicon-plus"></i>添加企业
            </a>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>企业名称</th>
        <th>地址</th>
        <th>联系人</th>
        <th>汇款信息</th>
        <th>管理</th>
    </tr>
    @foreach (var item in list)
    {
        <tr>
            <td><a href="/enterprise/details?id=@(item.ID)">@(item.Name)</a></td>
            <td>@(item.Address)</td>
            <td>

            </td>
            <td></td>
            <td>
                @if (item.Business == Business.Supplier)
                {
                    <a href="/Stock/Place?ID=@(item.ID)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-log-in"></i>进货</a>
                    <a href="" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-glass"></i>供应详情</a>
                }
                else if (item.Business == Business.Seller)
                {
                    <a href="/Stock/Backlog?ID=@(item.ID)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-log-out">订货</i></a>   
                }
                <a href="/Epistolize/Index?ID=@(item.ID)" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-envelope"></i>反馈</a>
            </td>
        </tr>
    }
</table>
@Html.Partial("_pagination", ViewBag.Page as object)