@{
    Business business = ViewBag.Business;
    ViewBag.Title = business.GetDescription();
    List<Enterprise> list = ViewBag.List;
}

<form class="form-inline">
    <div class="input-group">
        <span class="input-group-addon">查询企业</span>
        <input type="text" class="form-control" name="name" placeholder="企业名称" value="@(Request.QueryString["name"])">
        <input type="hidden" name="business" value="@(business)" />
        <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>查询</button>
            <a class="btn btn-success" href="/enterprise/edit?business=@(business)" data-toggle="modal" data-target="#modal">
                <i class="glyphicon glyphicon-plus"></i>添加企业
            </a>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <tr>
        <th>企业名称</th>
        <th>所在省市</th>
        <th>联系人</th>
        <th>联系电话</th>
        <th style="width:120px;">管理</th>
    </tr>
    @foreach (var item in list)
    {
        <tr>
            <td><a href="/enterprise/detail?id=@(item.ID)">@(item.Name)</a></td>
            <td>@(item.Province) - @(item.City)</td>
            <td>@(item.Contact)</td>
            <td>@(item.Tel)</td>
            <td>
                @if (item.Business == Business.Supplier)
                {
                    <a href="/Stock/Place?ID=@(item.ID)" class="btn btn-success btn-xs" title="进货"><i class="glyphicon glyphicon-log-in"></i></a>
                }
                else if (item.Business == Business.Seller)
                {
                    <a href="/Stock/Backlog?ID=@(item.ID)" class="btn btn-success btn-xs" title="订货"><i class="glyphicon glyphicon-log-out"></i></a>
                }
                <a href="/enterprise/edit?id=@(item.ID)" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal" title="修改"><i class="fa fa-edit"></i></a>
                <a href="/enterprise/delete?id=@(item.ID)" class="btn btn-danger btn-xs btn-delete" title="删除"><i class="fa fa-remove"></i></a>
           </td>
        </tr>
    }
</table>
@Html.Partial("_pagination", ViewBag.Page as object)