@{
    ViewBag.Title = "进货订单管理";
    List<Order> list = ViewBag.List;
    Enterprise enterprise = ViewBag.Enterprise;
}
@if (enterprise != null)
{
    <h3>
        @(enterprise.Name) - 进货订单 <a href="/order/edit?enterpriseId=@(enterprise.ID)" class="btn btn-success">进货</a>
    </h3>
}
<table class="table table-bordered">
    <tr>
        @if (enterprise == null)
        {
            <th>供应商</th>
        }
        <th>时间</th>
        <th style="width:100px;"> 订单状态</th>
        <th style="width:100px;">物流信息</th>
        <th style="width:130px;">管理</th>
    </tr>
    @foreach (var item in list)
    {
        <tr>
            @if (enterprise == null)
            {
                <td>@(item.Enterprise == null ? null : item.Enterprise.Name)</td>
            }
            <td>@(item.CreateTime)</td>
            <td>@(item.State.GetDescription())</td>
            <td><a href="/express/view?id=@(item.Express)&no=@(item.ExpressNo)" data-toggle="modal" data-target="#modal"><i class="fa fa-car"></i>查看物流</a></td>
            <td>
                <a href="/order/detail?id=@(item.ID)" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> 查看</a>
                @switch (item.State)
                {
                    case State.Done:
                        break;
                    default:
                        <a href="/order/edit?id=@(item.ID)" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> 修改</a>
                        break;
                }
            </td>
        </tr>
    }
</table>
@Html.Partial("_pagination", ViewBag.Page as object)