@{
    ViewBag.Title = "部件进货";
    Order model = ViewBag.Model;
    List<Component> components = ViewBag.Components;
    List<OrderItem> list = ViewBag.List;
    var autocompletedData = components.Select(e => new
    {
        label = e.DisplayName,
        value = e.ID
    });
    var dataJson = Newtonsoft.Json.JsonConvert.SerializeObject(autocompletedData);
}
<div class="panel panel-info">
    <div class="panel-heading">
        <h4 class="panel-title"><i class="glyphicon glyphicon-shopping-cart"></i>进货车</h4>
    </div>
    <div class="panel-body">
        <form id="form-add" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-3">部件名称</label>
                <div class="col-lg-6">
                    <input type="hidden" name="ComponentId" id="txt-componentId" />
                    <input type="text" id="txt-component" name="Component" class="form-control" autocomplete="off" />
                </div>
            </div>
            <div class="form-group">
                <label for="Price" class="control-label col-lg-3">单价</label>
                <div class="col-lg-6">
                    <input type="text" name="Price" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Number" class="control-label col-lg-3">数量</label>
                <div class="col-lg-6">
                    <input type="text" name="Number" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    <button type="submit" class="btn btn-success" id="btn-add"><i class="glyphicon glyphicon-plus"></i>加入进货清单</button>
                </div>
            </div>
        </form>

    </div>
</div>
<form id="form-place" action="/Order/SubmitPlace" method="post" class="form-horizontal">
    <input type="hidden" name="Id" value="@(model.ID)" />
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">进货清单</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>部件</th>
                        <th style="width:100px;">单价</th>
                        <th style="width:100px;">数量</th>
                        <th style="width:80px;">移除</th>
                    </tr>
                </thead>
                <tbody id="list-items">
                    @*@foreach (var item in list)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" name="ItemComponentId" value="@(item.ID)" />
                                    <input type="text" name="ItemComponent" class="form-control" value="@(item.Component.DisplayName)" />
                                </td>
                                <td>
                                    <input type="text" name="ItemPrice" class="form-control" value="@(item.Price)" />
                                </td>
                                <td>
                                    <input type="text" name="ItemNumber" class="form-control" value="@(item.Number)" />
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-danger btn-xs btn-delete"><i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
            <input type="hidden" name="submit" id="hid-submit" value="false" />
            <button type="submit" class="btn btn-primary" id="btn-save"><i class="fa fa-save"></i>保存</button>
            <button type="submit" class="btn btn-success" id="btn-submit"><i class="glyphicon glyphicon-floppy-open"></i> 提交订单</button>
        </div>
    </div>
</form>
<script>
    $(function () {
        $("#form-add").submit(function(){
            var data  = $("#form-add").serializeObject();
            if(data.ComponentId == 0 || data.Component == NaN)
            {
                alert("请选择提示列表中的部件，不能随意填写。");
                return;
            }
            addRow(data);
            this.reset();
            return false;
        });
        @foreach (var item in list)
        {
            <text>
        addRow(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(item)))
        </text>
        }
        function addRow(data){
            var componentName = typeof(data.Component) == "object"?data.Component.DisplayName:data.Component;
            var $str = "<tr><td>"+
                "<input type='hidden' name='ItemComponentId' value='"+data.ComponentId+"' />"+
                "<input type='text' name='ItemComponent' class='form-control' value='" + componentName + "' /></td>"+
                "<td><input type='text' name='ItemPrice' class='form-control' value='" + data.Price + "'/></td>"+
                "<td><input type='text' name='ItemNumber' class='form-control' value='" + data.Number + "'/></td>"+
                "<td><a href='javascript:;' class='btn btn-danger btn-xs btn-remove'><i class='fa fa-remove'></i></a></td>"+
                "</tr>";
            $("#list-items").append($str);
            $("#list-items .btn-remove").unbind("click").bind("click", function () {
                var tr = $(this).parents("tr");
                tr.remove();
                return;
            });
        }
        $("#txt-component").change(function(){
            $("#txt-componentId").val(0);
        });
        $("#txt-component").AutoComplete({
            data: @Html.Raw(dataJson),
            width: 'auto',
            itemHeight:30,
            afterSelectedHandler:function(data){
                $("#txt-component").val(data.label);
                $("#txt-componentId").val(data.value);
            },
            'onerror': function (msg) { alert(msg); },
        });

        $("#btn-save").click(function(){
            $("#hid-submit").val(false);
        });
        $("#btn-submit").click(function(){
            $("#hid-submit").val(true);
        });
    })
</script>
